* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: "Fira Sans", sans-serif;
}

body {
    background-color: #DDD;
    background-image: url('/src/background/test-removebg-preview2.png');
    background-repeat:no-repeat;
    background-size:auto 100%;
    left: 50%;
}

.App {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    min-height: 100vh;
}

.component {
    display: block;
    background-color: #313131;
    width: 350px;
    display: block;
    margin: 0px auto 15px auto;
    padding: 50px;
    border-radius: 16px;
    box-shadow: inset -6px -6px 12px rgba(0, 0, 0, 0.8), inset 6px 6px 12px rgba(255, 255, 255, 0.4);
}
.c-songlist{
    padding: 30px; 
}


.c-recorder .player-controls {
    display: flex;
    align-items: center;    
    justify-content: center;
}
.c-recorder .player-btn {
    display: flex;
    margin-top: 15px;
    padding: 20px;
    border-radius: 50%;
    box-shadow: 4px 4px 10px rgba(0, 0, 0, 0.8), -4px -4px 10px rgba(255, 255, 255, 0.4), inset -4px -4px 10px rgba(0, 0, 0, 0.4), inset 4px 4px 10px rgba(255, 255, 255, 0.4);
    border: none;
    outline: none;
    background-color: #FFCE00;
    color: #FFF;
    font-size: 15px;
    cursor: pointer;
}.player-btn:hover{
    color: rgb(148, 57, 57);
}

.c-recorder .red {
    background-color: #e62214;
}

.c-recorder audio{
    box-sizing:unset;
    margin-left: -10%;
}
.c-recorder audio::-webkit-media-controls-panel{
    justify-self: center;
    
    background-color: #FFCE00;
    box-shadow: 4px 4px 10px rgba(0, 0, 0, 0.8), -4px -4px 10px rgba(255, 255, 255, 0.4), inset -4px -4px 10px rgba(0, 0, 0, 0.4), inset 4px 4px 10px rgba(255, 255, 255, 0.4);
}

.c-recorder .left-btn{
    border-top-right-radius: 0%;
    border-bottom-right-radius: 0%;
}

.c-recorder .mid-btn{
    border-top-left-radius: 0%;
    border-bottom-left-radius: 0%;
    border-top-right-radius: 0%;
    border-bottom-right-radius: 0%;
}

.c-recorder .right-btn{
    border-top-left-radius: 0%;
    border-bottom-left-radius: 0%;
}

.c-recorder > .alert {
 margin-top: 15px;
 margin-bottom: -25px;
 text-align: center;
 color: #FFF;
}

.c-song{
    display: inline-flex;
    flex-direction: column;
    position: relative;
}

.c-song-name{
    color: #FFF;
    font-size: 12px;
    font-weight: 500;
    height: 45px;
    text-align: center;

    display: flex;
    flex-direction: column;
    background-color: #30b12b;
    width: 86px;
    position:relative;
    
    margin: 5px;
    margin-bottom: 30px;
    padding: 5px;
    border-radius: 5px;
    box-shadow: inset -6px -0px 12px rgba(0, 0, 0, 0.377), inset 6px 0px 12px rgba(255, 255, 255, 0.26);
}
.c-song-name::after{
    content: " ";
    width: 86px;
    height: 25px;
    background-color: #30b12b;
    box-shadow: inset -6px -6px 12px rgba(0, 0, 0, 0.377), inset 6px 6px 12px rgba(255, 255, 255, 0.26);
    border-radius:  0 0 50% 50%;
    /* border-top: #313131 2px solid; */

    position: absolute;
    bottom: -40%;
    right: -5px;
    left: 0px;
    
}
.c-song-name > .songName {
    margin: auto auto;
    overflow:hidden;
}
.c-song >.play-btn {
    align-self: center;
    width: 20px;
    height: 20px;
    border-radius: 50%;
    /* margin-top: -15px; */
    box-shadow: 4px 4px 10px rgba(0, 0, 0, 0.8), -4px -4px 10px rgba(255, 255, 255, 0.4), inset -4px -4px 10px rgba(0, 0, 0, 0.4), inset 4px 4px 10px rgba(255, 255, 255, 0.4);
    border: none;
    outline: none;
    background-color: #FFCE00;
    color: #FFF;
    font-size: 8px;
    cursor: pointer;z-index: 15;

    position: absolute;
     bottom: 20%;

}.play-btn:hover{
    color: rgb(148, 57, 57);
}


.c-songlist > .panal {
    display: flex;
    align-items: center;
    justify-content: center;
    margin-bottom: 15px;
}

.c-songlist .panal-btn {
    display: flex;
    margin: 0 20px;
    padding: 15px;
    border-radius: 50%;
    box-shadow: 4px 4px 10px rgba(0, 0, 0, 0.8), -4px -4px 10px rgba(255, 255, 255, 0.4), inset -4px -4px 10px rgba(0, 0, 0, 0.4), inset 4px 4px 10px rgba(255, 255, 255, 0.4);
    border: none;
    outline: none;
    background-color: #FFCE00;
    color: #FFF;
    font-size: 20px;
    cursor: pointer;
}.panal-btn:hover{
    color: rgb(148, 57, 57);
}

.c-recording{
    color: #FFF;
    font-size: 14px;
    font-weight: 500;
    text-align: center;
    margin-left: -15px;
    margin-right: -15px;
    margin-bottom: 10px;
    display: flex;
    justify-content: space-between;
    
}

.c-recording .recording-btn{
    /* align-self: center; */
    width: 20px;
    height: 20px;
    border-radius: 50%;
    /* margin-top: -15px; */
    box-shadow: 4px 4px 10px rgba(0, 0, 0, 0.8), -4px -4px 10px rgba(255, 255, 255, 0.4), inset -4px -4px 10px rgba(0, 0, 0, 0.4), inset 4px 4px 10px rgba(255, 255, 255, 0.4);
    border: none;
    outline: none;
    background-color: #30b12b;
    color: #FFF;
    font-size: 8px;
    cursor: pointer;
    z-index: 15;
}.recording-btn:hover{
    color: rgb(148, 57, 57);
}

.c-recording .left-btn{
    border-top-right-radius: 0%;
    border-bottom-right-radius: 0%;
}

.c-recording .mid-btn{
    background-color: #FFCE00;
    border-top-left-radius: 0%;
    border-bottom-left-radius: 0%;
    border-top-right-radius: 0%;
    border-bottom-right-radius: 0%;
}

.c-recording .right-btn{
    background-color: #db710e;
    border-top-left-radius: 0%;
    border-bottom-left-radius: 0%;
}
.c-recording .red {
    background-color: #e62214;
}

.c-savedRecordings  .recordingHeader {
    text-align: center;
    color: #FFF;
    font-size: 14px;
    text-transform: uppercase;
    font-weight: 500;
    text-shadow: 2px 2px 4px rgba(0,0,0,0.8), -2px -2px 4px rgba(255,255,255,0.4);

    margin-top: -15px;
    margin-bottom: 15px;
}